body {
    font-family: Arial, sans-serif;
}

.work-experience {
    margin-bottom: 20px;
}

.company {
    font-weight: bold;
}

.dates {
    font-style: italic;
}

ul {
    margin: 0;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}


#contact {
    background-color: #f8f9fa;
    padding: 40px;
    text-align: center;
}

#contact h2 {
    color: #333;
    margin-bottom: 20px;
}

#contact-form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}